.idea/
build/
dist/
bshlocal.egg-info/
examples/keystore
__pycache__
*.pyc
.project
.pydevproject
.vscode/settings.json
.idea/inspectionProfiles/profiles_settings.xml
.env
.idea/BoschSHC.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
